.App {
  text-align: center;
}

.modal {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 20px auto;
  border: 2px solid gray;
  padding: 20px;
  border-radius: 5px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #eaeaea;
}

.modal-form {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

.modal-form button {
  margin: 0.5rem;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
